streamlit
langchain>=0.1.11
langchain_groq
sqlalchemy
mysql-connector-python
ipykernel
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-openai
sentence-transformers
langchain_huggingface
chromadb
faiss-cpu
langchain_chroma
fastapi
uvicorn
langserve
streamlit
langchain
langchain_community
duckduckgo-search
groq
python-dotenv
arxiv
pydantic
